/* Thumbnail Timeline */
.wrapper {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.middle {
    max-width: 800px;
    padding: 0 20px;
    overflow-y: hidden;
    user-select: none;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #2a2d32;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #52575d;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #6b7178;
    }
}

.timeline_container {
    position: relative;
    height: 110px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Timeline Ticks */
.timeline_ticks {
    position: relative;
    width: 100%;
    height: 45px;
    background: #222;
    border-bottom: 2px solid #444;
}

.tick {
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 1px;
    background: #888;
    transform: translateX(-50%);

    &.major {
        height: 15px;
        background: #fff;
    }

    &.major .timeLabel {
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        color: #fff;
    }
}

/* Timeline */
.timeline {
    height: 64px;
}

.timeline_canvas {
    position: relative;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.selection_range {
    position: absolute;
    top: 43px;
    left: 0;
    width: 0;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(204, 204, 204);
    user-select: none;
    z-index: 2;
    cursor: pointer;
}

.range_time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

.handle {
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: #243547;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        background-color 0.3s,
        transform 0.2s;
    cursor: ew-resize;
}

.handle:hover {
    background-color: #0b1c2c;
}

.handle:after {
    content: "";
    width: 2px;
    height: 40%;
    background: repeating-linear-gradient(to bottom, #ffffff, #ffffff 4px, transparent 4px, transparent 6px);
    border-radius: 2px;
}

.start_handle {
    left: 0;
    transform: translateX(-50%);
}

.end_handle {
    right: 0;
    transform: translateX(50%);
}

/* Thumbnails Render */
.timeline_thumbnails {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    margin-top: 45px;
}

.timeline_thumbnail {
    flex: 1;
    transition: border 0.3s;
    cursor: pointer;
}

.timeline_thumbnail img {
    width: 150px;
    height: 64px;
    object-fit: cover;
}

/* Timeline Marker */
.timeline_marker {
    position: absolute;
    bottom: 0;
    height: 65%;
    width: 2px;
    background-color: #dc143c;
    transform: translateX(-50%);
    transition: background-color 0.2s ease-in-out;
    z-index: 3;
    cursor: grab;

    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 10px;
        height: 12px;
        background-color: #dc143c;
        clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
        transform: translateX(-50%);
        transition: background-color 0.2s ease-in-out;
    }

    &:hover {
        background-color: red;

        &::before {
            background-color: red;
        }
    }
}

.current_time {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 12px;
    padding: 2px 4px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(204, 204, 204);
    transform: translateX(-50%);
}

/* Controls */
.controls {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .btn_main {
        background-color: #ff6347;
        color: #fff;

        &:hover {
            background-color: #e55347;
        }
    }

    button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #555;
        }
    }
}

/* Timeline Slider */
.timeline_slider {
    width: 300px;
}
